<div class="row" style="padding: 25px;" >
    <div class="col-md-3">

        <div class="panel panel-default" style="box-shadow: 0 0 30px black; width: 250%;"  >
            <h4>Claims</h4>
            <div class="panel-body" style="height: 100%; margin-bottom: 10px; margin-top: 10px;" >
                <form name="form" ng-model="form">
                    <table>
                        <thead><h3>Policy Details</h3></thead>
                        <tr>
                            <td><p> Policy No: <input id="mytext" type ="text" name="policy" placeholder="Policy Number" ng-model="clientDetails.id" required>
                                    <span ng-show="form.policyNo.$dirty && form.policyNo.$error.required" class="help-block"></span></p></td>
                            <td> <p> Click Submit: <button type="submit" value="submit" ng-click="policy(form)" >Submit</button>
                                </p></td>
                        </tr>
                    </table>
                </form>

                <p> What happened to your car: 
                    <select autofocus="" ng-model="incident_type">
                        <option value="vehicleRob">Vehicle Robbery</option>
                        <option value="shortage">Shortage</option>
                        <option value="onsite">On-site Robbery</option>
                        <option value="crossPR">Cross Pavement Robbery</option>
                    </select>

                <div ng-if="incident_type == 'vehicleRob'">
                    <form name="form">
                        <table>
                            <thead><h3>Personal Details</h3></thead>
                            <tr>
                                <td ><p> <lable>Title:</lable><input class="form-group" type ="text" ng-model="clientDetails.title" ng-readonly="true">
                            <span ng-show="form.title.$dirty && form.title.$error.required" class="help-block"></span>
                            </p></td>
                            <td> <p> Identity No: <input id="mytext" ng-readonly="true" type ="text" name="incident" placeholder="Incident" ng-model="clientDetails.identityNo" required>
                                    <span ng-show="form.surname.$dirty && form.surname.$error.required" class="help-block"></span>
                                </p></td>
                            </tr>
                            <tr>
                                <td><p>Name: <input id="mytext" type ="text" ng-readonly="true" name="name" placeholder="Name" ng-model="clientDetails.firstName" required>
                                        <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block"></span>
                                    </p></td>
                                <td> <p> Contact No: <input id="mytext" type ="text" name="contact" placeholder="Contact Number" ng-model="clientDetails.contactNo" required>
                                        <span ng-show="form.contact.$dirty && form.contact.$error.required" class="help-block"></span>
                                    </p></td>
                            </tr>
                            <tr>
                                <td> <p> Surname: <input id="mytext" type ="text" ng-readonly="true" name="surname" placeholder="Surname" ng-model="clientDetails.lastName" required>
                                        <span ng-show="form.incident.$dirty && form.incident.$error.required" class="help-block"></span>
                                    </p></td>
                                <td><p> Email Address <input id="mytext" type ="email" name="email" placeholder="E-mail Address" ng-model="clientDetails.email" required>
                                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">invalid email!!</span>
                                    </p></td>
                            </tr>
                            <tr>
                                <td> <p> Intermediary/Agent <input id="mytext" type ="text" ng-readonly="true" name="surname" placeholder="Agent" ng-model="clientDetails.agent" required>
                                        <span ng-show="form.incident.$dirty && form.incident.$error.required" class="help-block"></span>
                                    </p></td>
                                <td><p> Company Name<input id="mytext" type ="text" name="company" ng-readonly="true" placeholder="Company Name" ng-model="clientDetails.companyName" required>
                                    </p></td>
                            </tr>
                            <tr>
                                <td>Physical Address </td>
                                <td>
                                    <textarea type="text" name="description" style="margin-bottom: 10px;" ng-readonly="true" placeholder="Address " ng-model="clientDetails.physicalAddress" required></textarea>
                                    <span ng-show="description.$dirty && description.$error.required" class="help-block"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Postal Address </td>
                                <td>
                                    <textarea type="text" name="description" style="margin-bottom: 10px;" ng-readonly="true" placeholder="Postal Address" ng-model="clientDetails.postalAddress" required></textarea>
                                    <span ng-show="description.$dirty && description.$error.required" class="help-block"></span>
                                </td>
                            </tr>
                        </table>
                        <h3>Incident Information</h3>
                        <table>
                            <tr>
                                <td>Date of Accident:</td>
                                <td>
                                    <input type="date" name="date" style="margin-bottom: 10px;" placeholder="YYYY-MM-DD" ng-model="clientDetails.incidentDate" required>
                                    <span ng-show="date.$dirty && date.$error.required" class="help-block"></span>

                                </td>
                            </tr>
                            <tr>
                                <td>Place where Loss/Damage occurred: </td>
                                <td><input type="text" name="location" style="margin-bottom: 10px;" placeholder="Location" ng-model="clientDetails.incidentLoc" required>
                                    <span ng-show="location.$dirty && location.$error.required" class="help-block"></span></td>
                            </tr>
                            <tr>
                                <td>Did the incident happen on a premises or in Transit? </td>
                                <td>
                                    <select name autofocus="" style="margin-bottom: 10px;" ng-model="clientDetails.location">
                                        <option value="premises">Premises</option>
                                        <option value="transit">Transit</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>If on premises, was it occupied at the time of incident? </td>
                                <td>
                                    <select autofocus="" style="margin-bottom: 10px;" ng-model="clientDetails.occupation">
                                        <option value="no">No</option>
                                        <option value="yes">Yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Type of loss </td>
                                <td>
                                    <select autofocus="" style="margin-bottom: 10px;" ng-model="clientDetails.lossType">
                                        <option value="robbery">Robbery</option>
                                        <option value="theft">Theft</option>
                                        <option value="accidental">Accidental</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Describe fully how the loss or damage occurred stating how(if applicable) entry was gained to Premises :</td>
                                <td>
                                    <textarea type="text" name="description" style="margin-bottom: 10px;" placeholder=" " ng-model="clientDetails.incident_desription" required></textarea>
                                    <span ng-show="description.$dirty && description.$error.required" class="help-block"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>If Loss/Damage caused by another party give name and contact details</label>

                                    <p>Name :
                                        <input type="text" name="name" style="margin-bottom: 10px;" placeholder="Name" ng-model="clientDetails.thirdPartyName" required>
                                        <span ng-show="time.$dirty && time.$error.required" class="help-block"></span></p>
                                    <p>Contact :
                                        <input type="text" name="contact" style="margin-bottom: 10px;" placeholder="Contact" ng-model="clientDetails.thirdPartyContact" required>
                                        <span ng-show="time.$dirty && time.$error.required" class="help-block"></span></p>
                                    <p>Insure's Name :
                                        <input type="text" name="insurer" style="margin-bottom: 10px;" placeholder="Insure" ng-model="clientDetails.insurerName" required>
                                        <span ng-show="time.$dirty && time.$error.required" class="help-block"></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>Police Station: </td>
                                <td>
                                    <input type="text" name="police" style="margin-bottom: 10px;" placeholder="Name" ng-model="clientDetails.police_station_name" required>
                                    <span ng-show="time.$dirty && time.$error.required" class="help-block"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Date Reported and Case No:</td>
                                <td>
                                    <input type="date" name="date" style="margin-bottom: 10px;" placeholder="Date" ng-model="clientDetails.reportDate" required>
                                    <span ng-show="date.$dirty && date.$error.required" class="help-block"></span>
                                    <input type="text" name="location" style="margin-bottom: 10px;" placeholder="CaseNo" ng-model="clientDetails.caseNo" required>
                                    <span ng-show="location.$dirty && location.$error.required" class="help-block"></span>
                                </td>
                            </tr>
                            <!--td>
                              <input type="file" ng-model="clientDetails.images"/>
                              <input type="file" ng-model="clientDetails.additionalDocuments"/>
                            </td-->
                        </table>
                        <!--a href="http://localhost:8080/reverside/user.html#/claimDetails"--><button type="submit" value="submit" ng-click="claim(form)">Submit</button><!--/a-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
